#sections-table #rcmrowjabber td.section{
background-position: 6px -478px;
}

#taskbar a.button-jappix4roundcube span.button-inner
{
  background: url(chat.png) 5px 5px no-repeat;
  height: 18px;
}

#taskbar a.button-jappix4roundcube:hover span.button-inner,                                                                                                                      
#taskbar a.button-jappix4roundcube.button-selected span.button-inner
{
  background: url(chat.png) 5px -18px no-repeat;
  height: 18px;
}