#sections-table #rcmrowjabber td.section{
background-position: 6px -478px;
}

#taskbar a.button-jappix4roundcube span.button-inner
{
  background: url(chat.png) 0px 0px no-repeat;
  height: 20px;
}

#taskbar a.button-jappix4roundcube:hover span.button-inner,                                                                                                                      
#taskbar a.button-jappix4roundcube.button-selected span.button-inner
{
  background: url(chat.png) 0px -30px no-repeat;
  height: 20px;
}

